{% extends "base.html" %}

{% block content %}
    <br><h1>Measurement Analysis</h1>
    <h2>Avaliable Measurements</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Start Time</th>
          <th scope="col">Duration</th>
          <th scope="col">Sampling Frequncy</th>
          <th scope="col">Analyzed</th>
          <th scope="col">Window Size [s]</th>
          <th scope="col">Window Function</th>
          <th scope="col">Dumed Overflow Windows/Overall Windows</th>
          <th scope="col">Raw Data avaliable</th>
        </tr>
      </thead>
      <tbody>
        {% for disp in ana_disps %}
        <tr>
          <th scope="row">{{disp["name"]}}</th>
          <td>{{disp["start_time"]}}</td>
          <td>{{disp["duration_formated"]}}</td>
          <td>{{disp["fs"]}}</td>
          <td>{{disp["is_analyzed"]}}</td>
          {% if disp["is_analyzed"] %}
            <td>{{disp["win_size"]}}</td>
            <td>{{disp["win_func"]}}</td>
            <td>{{disp["dumped_windows"]}}/{{(disp["duration"]/disp["win_size"])|int}}</td>
          {% else %}
            <td>-</td>
            <td>-</td>
            <td>-</td>
          {% endif %}
          <td>{{disp["bin_exists"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr><br><h2>Analyze Measurement</h2>
    <form action="" method="post" novalidate>
        {{ ana_form.hidden_tag() }}
        <p>{{ ana_form.name.label }} : {{ ana_form.name() }}</p>
        <p>{{ ana_form.win_size.label }} [s] : {{ ana_form.win_size(value=10) }}</p>
        <p>{{ ana_form.win_func.label }} : {{ ana_form.win_func() }}</p>
        <p>{{ ana_form.submit() }}</p>
    </form>
    <hr><br><h2>Download Analysis Report</h2>
    <form action="" method="post" novalidate>
        {{ dl_form.hidden_tag() }}
        <p>{{ dl_form.name.label }} : {{ dl_form.name() }}</p>
        <p>{{ dl_form.submit() }}</p>
    </form>
    <hr><br><h2>Delete Measurement</h2>
    <form action="" method="post" novalidate>
        {{ del_form.hidden_tag() }}
        <p>{{ del_form.name.label }} : {{ del_form.name() }}</p>
        <p>{{ del_form.only_bin() }} {{ del_form.only_bin.label }}</p>
        <p>{{ del_form.submit() }}</p>
    </form>

{% endblock %}
