<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/jquery-3.4.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
      {% if title %}
      <title>{{ title }} - Base dosimeter</title>
      {% else %}
      <title>Base Dosimeter</title>
      {% endif %}
    </head>
    <body>
      <div class ="container.float">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Base Dosimeter</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/timeset">Time</a><!-- <span class="sr-only">(current)</span> -->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/calib">Calibartion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/msmt">Planing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ana">Analysis</a>
              </li>
          </div>
        </nav>
      </div>
      <div class ="container">
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p class="mb-0">{{ message }}</p>
              </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </body>
</html>
