{% extends "base.html" %}

{% block content %}
    <br><h1>Calibration</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="progress">
      <div id="time" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="60" style="width: 75%"></div>
    </div>
    {% else %}
    <p>Connect mircophone, attach Calibrator and turn it on (94dB)</p>
    <p>Take care of a quiet environment!</p>
    <p>Then press Calibration button. This takes 60s</p>
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
      <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% endwith%}
    <script>
      $(document).ready(function(){
        var counter = 0;
        var interval = setInterval(function() {
          counter++;
          $('#time').attr('aria-valuenow', counter).css('width', (counter*100/60) + '%');
          $('#time').text((60-counter) + " seconds left");
          // Display 'counter' wherever you want to display it.
          if (counter >= 60 ) {
              $('#time').attr('aria-valuenow', 60).css('width',100 + '%');
              $('#time').text("Done !");
          }
        }, 1000);
      });
    </script>

{% endblock %}
