{% extends "base.html" %}

{% block content %}
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-12">
          <br><h1>Home</h1>
        </div>
      </div>
    </div>
    <div class="bs-docs-section clearfix">
      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            <p>Developed on Technical University Vienna<p>
          </div>
        </div>
      </div>

{% endblock %}
