{% extends "base.html" %}

{% block content %}
    <br><h1>Measurement Planing</h1>
    {% if msmt_conf != None %}
      {% if percentage == None %}
      <p>The Measurement "{{msmt_conf["name"]}}" is planed for {{msmt_conf["start_time"]}}.</p>
      {% else %}
      <p>The Measurement "{{msmt_conf["name"]}}" is currently running.</p>
      <p>It started at {{msmt_conf["start_time"]}} and is running until {{msmt_conf["end_time"]}}.</p>
      <div class="progress">
        <div id="time" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%">{{percentage}}%</div>
      </div>
      {% endif %}
    {% else %}
      <p>No Measurement is planed.</p>
      <p>Plan Measurement here:</p>
      <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
        <p>{{ form.name.label }} : {{ form.name(size=30) }}</p>
        <p>{{ form.iso_string.label }} : {{ form.iso_string(size=19,value=loctime) }} [YYYY-MM-DD HH:mm:ss]</p>
        <p>Duration : {{ form.days(size=1,value=0) }} {{form.days.label}}
                      {{ form.hours(size=2,value=0) }} {{form.hours.label}}
                      {{ form.minutes(size=2,value=1) }} {{form.minutes.label}}</p>
        <p>{{ form.fs.label }} : {{ form.fs(size=5,value=12000) }}</p>
        <p>{{ form.submit() }}</p>
      </form>
    {% endif %}
{% endblock %}
