{% extends "base.html" %}

{% block content %}
    <br><h1>Time</h1>
    <h2>{{loctime}}</h2><hr>
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
      <p>{{ form.iso_string.label }} : {{ form.iso_string(size=19,value=loctime) }} [YYYY-MM-DD HH:mm:ss]</p>
      <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
